<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css" />
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <title>Abarrotes TI</title>
</head>

<body>

    <div data-role="page" data-theme="b">
        <div data-role="header">
            <h1>Abarrotes TI</h1>
            <div data-role="navbar">
                <ul>
                    <li><a href="#" data-icon="home">Inicio</a></li>
                    <li><a href="#" data-icon="eye" class="ui-btn-active">Productos</a></li>
                    <li><a href="#" data-icon="user">Empleados</a></li>
                </ul>
            </div>
        </div>
        <div data-role="content">
            <form action="/" method="post">
                <input type="text" name="barcode" placeholder="Barcode">
                <input type="text" name="description" placeholder="Description">
                <input type="text" name="brand" placeholder="Brand">
                <input type="number" name="price" placeholder="Precio ">
                <input type="number" name="cost" placeholder="Costo">
                <input type="number" name="stock" placeholder="Existencias">
                <input type="date" name="expiredDate" placeholder="Fecha de Expiracion">
                <label for="flip-2">Estatus:</label>
                <select name="status" id="flip-2" data-role="slider">
                    <option value="0">No</option>
                    <option value="1">Si</option>
                </select>
                <button type="submit" id="submit-6" class="ui-shadow ui-btn ui-corner-all ui-mini">Guardar</button>
            </form>

            <form>
                <input data-type="search" id="searchForCollapsibleSetChildren">
            </form>
            <div data-role="collapsibleset" data-filter="true" data-children="> div, > div div ul li" data-inset="true"
                id="collapsiblesetForFilterChildren" data-input="#searchForCollapsibleSetChildren">

                <% products.forEach((product) => { %>
                    <div data-role="collapsible" data-filtertext="<%= products.description %>"> 
                        <h3> <%= product.description %> </h3>
                        <ul data-role="listview" data-inset="false">

                            <li> Codigo de barras:    <%= product.barcode %>  </li>
                            <li> Marca:               <%= product.brand   %>  </li> 
                            <li> Precio de venta:     <%= product.price   %>  </li> 
                            <li> Precio de Compra:    <%= product.cost    %>  </li> 
                            <li> Existencias:         <%= product.stock   %>  </li> 
                            <li> Fecha de caducidad:  <%= product.expiredDate %>  </li> 
                            <li> Estatus:             <%= product.status  %>  </li> 

                            <li> <a href="/<%=product.barcode%>" class="ui-btn">Editar</a> </li>
                            <li> <a href="/delete/<%=product.barcode%>" class="ui-btn">Eliminar</a> </li>

                        </ul>
                </div>
                    <%})%>
                </div>
            </div>


        </div>
        <div data-role="footer">
            <h5>Developed from Luis Octavio</h5>
        </div>
    </div>


</body>

</html>